* {
  align-items: center;
  padding: 0;
  border: 0;
  margin: auto;
}


button {
  background-color: aqua;
  font-style: normal;

}

body {
  align-items: center;
  align-content: center;
}

.botao {
  background-color: #2196F3;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

.botao:hover {
  background-color: #4CAF50;
}